// new sljivi:
body{    
    //background-color: red !important;
    background-image:  url('public/images/1.jpg')  !important;
    //top left fixed no-repeat
    background-position:
    top left,
    fixed;
    background-repeat: no-repeat;
    font-size: large;
}

.jumbotron{
    background:  rgba($color: #979797, $alpha: 0.4);
}